/AppleBasket.class
/BiggerThanValueAndMinusValue.class
/ConvertTo1DigitOf10.class
/ConvertingFahrenheitToCelsius.class
/ErrorFix.class
/LessThan100Number.class
/OnlyEngAndNum.class
/Operator.class
/PositiveNegativeNumber.class
/PrimeNumber.class
