/AddCalculator.class
/AddStringNumber.class
/ConditionalExpression.class
/ConsecutiveAdditionNumber.class
/DeterminingNumber.class
/DiceNumber6.class
/Febonnaci.class
/MatchNumber.class
/MutiplicationTable.class
/NotMultipleOfTwoAndMultipleOfThree.class
/Pallndrome.class
/RandomNumber.class
/SolutionNumber.class
/StepByHundred.class
/TransferFortoWhile.class
